.footer{
    min-height: 50vh;
    width: 100%;
    background-image: url('../public/images/pages_images/news/10.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    display: grid;
    place-items: center;
}
 
.footer_container{
    width: 80vw;
    height: 40vh;
    border-radius: 10px;
    
    display: grid;
    place-content: center;
    grid-template: 
        "logo content" /  2fr 4fr
     ;
}

.footer_logo_container{
    grid-area: logo;
    padding: 10px;
}

.footer_content{
    grid-area: content;
    display: flex;
    align-items: center;

    & h4{
        font-size: 1rem;
        & span{
            color: var(--blue);
        }

        & ul{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 1rem;

        }

        & a:hover{
            color: var(--blue);
        }
    }
}

@media only screen and (min-width: 360px) and (max-width: 991px){
    .footer_container{
        backdrop-filter: blur( 10px );
        height: 45vh;
        grid-template: 
            "logo"
            "content" / 1fr
        ;
    }

    .footer_content{
        text-align: center;
    }
}