 .page{
    display: flex;
    flex-direction: column;
  }  
  
  .section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 500px;
    background-color: var(--white);
    border-top: 5px solid var(--white);
    padding-top: 20px;
    & .section_arrows{
      position: absolute;
      right: 1vw;
      display: none;
    }
  }
  
  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--blue);
    bottom: 10px;
  }

  .back_btn {
    display: inline-block;
    padding: 12px 18px;
    background-color: var(--blue);
    color: white;
    font-size: 28px;
    cursor: pointer;
    margin: 20px;
    min-width: 300px;
  }


  .page_section_container{
    display: grid;
    width: 100%;
    min-height: 70vh;
    grid-template: 
      "header" auto
      "body"  auto
      "footer" 5vh
    ;
  }

  .arrow_icon_container{
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .arrow_icon{
    font-size: 2rem;
    color: var(--blue);
  }


  .page_section_header{
    grid-area: header;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    text-align: center;
    & h1{
      color: var(--black);
      margin-bottom: 1rem;
      font-size: 1.3rem;
      & span{
        color: var(--blue);
      }
    }
  }

  .page_section_body{
    grid-area: body;
    display: grid;
    grid-template:
      'left' 
      'right' 
    ;
  }
  .page_section_body_01{
    grid-area: body;
    display: grid;
    grid-template:
      'left' 
      'right' 
    ;
  }
  .page_section_body_02{
    grid-area: body;
    display: grid;
    grid-template:
      'right'
      'left' 
    ;
  }

  .simple_card_container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    grid-area: left;
    background-size: cover;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
  }

  .steps_container{
    height: 100%;
    grid-area: right;
    display: grid;
    place-content: start;
    padding-left: 1rem;
    & h2{
      color: var(--black);
      font-size: 1.2rem;
      margin-bottom: 1rem;
      & span{
        color: var(--blue);
      }
    }

    & svg{
      color: var(--blue);
    }
  }

  .s1{
    background-image: url('../public/images/pages_images/view-of-palma-mallorca-cathedral-by-night-spain-europe.jpg');
    background-size: cover;
    background-position-y: top;
  }

  .page_section_footer{
    grid-area: footer;
    & h1{
      font-size: 2rem;
      color: var(--white);
      padding-left: 5px;
      & span{
        color: var(--blue);
      }
    }
  }

  .s2, .s3, .s4, .s5, .s6{
    background-color: var(--whitegray);
  }


  .horizontal_steper_container{
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    min-height: 70vh;
  }

  .s3_empty_div{
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../public/images/pages_images/grow_invesment_02_01.png');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
  }

  .empty_div{
    width: 100%;
    background-image: url('../public/images/pages_images/increase_invesment_01.png');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: left;
    background-repeat: no-repeat;
    height: 50vh;
    grid-area: left;
  }

  .right{
    grid-area: right;
  }

  .s5_body_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    width: 100%;
  }

  .opiniones_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .container_habitisimo{
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .star{
    font-size: 1rem ;
    color: #ffb100;
    margin-bottom: 1rem;
  }
  .habitissimo_link{
    font-size: 1rem;
    font-weight: 800;
    border: 1px solid #ffb100;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, .3);  
  }


  .logo_container{
    margin-top: 2rem;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  .by_refcon_container{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: flex-end;
    & span{
      font-size: 1.3rem;
      text-shadow: 1px 1px 2px #000000;
      margin-right: 1rem;
    }
  }

  .form_container{
    display: flex;
    flex-direction: column;
    grid-area: left;
    & h2{
      color: var(--black);
      margin-bottom: 1rem;
      text-align: center;
      font-size: 1.3rem;
      & span{
        color: var(--blue);
      }
    }
  }

  .empty_s6{
    width: 100%;
    background-image: url('../public/images/pages_images/close_investment_01.png');
    background-size: contain;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    min-height: 40vh; 
  }

  .s7{
    background: url("../public/images/pages_images/close_investment_01.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
  }

  @media only screen and (min-width: 600px) and (max-width: 991px){
    .section{
      padding-top: 50px;
    }
    .page_section_header{
      & h1{
        text-align: left;
        font-size: 1.5rem;
      }
    }
    .steps_container{
      & h2{
        text-align: left;
        font-size: 1.5rem;
      }
    }
    .empty_div{
      height: 100%;
    }

    .s5_body_container{
      padding: 15px;
      width: 500px;
    }
  }

  @media only screen and (min-width: 992px){
    .section{
      padding-top: 12vh;

      & .section_arrows{
         display: block;
      }
    }
    
    .page_section_header{
      text-align: left;
      padding-left: 0;
      justify-content: flex-start;
      text-align: left;
      & h1{
        font-size: 1.5rem;
      }
    }
    .page_section_body{
      width: 80vw;
      grid-template: "left right"/ 700px auto;
    }   

    .page_section_body_01{
      width: 80vw;
      grid-template: "left right" / 500px auto;
    }
    .page_section_body_02{
      width: 80vw;
      grid-template: "left right" / 500px auto;
    }

    .page_section_footer{
      & h1{
        font-size: 3rem;
      }
    }
    .steps_container{
      & h2{
        text-align: left;
        font-size: 1.5rem;
      }
    }

    .simple_card_container{
      min-height: 75vh;
      background-image: url('../public/images/pages_images/grow_invesment_01_01.png');
    }
    .empty_div{
      height: 100%;
    }
    .s5_body_container{
      padding: 1.5rem;
    }
    .logo_container{
      width: 500px;
      
    }

    .form_container{
      & h2{
        text-align: left;
      }
    }

    .s7{
      height: 30vh !important;
    }
  }

  
  