.HorizontalSteper_step{
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 80%;
}

.image_container{
    height: 70px;
    width: 70px;
    position: relative;
}
.text_container{
    display: block;
    align-content: center;
    & h1 {
        font-size: 1rem;
        font-weight: 500;
        color: var(--blue);
    }
    & p{
        color: var(--black);
        font-size: .9rem;
    }
}


.step{
    position: relative;
}

.step_image{
    position: absolute;
    top: -100px;
    left: 25%;
}


@media only screen and (min-width: 360px) and (max-width: 991px){
    .HorizontalSteper_step{
        grid-template-columns: .7fr 3fr;
        width: 100%;
    }
    .image_container{
        height: 50px;
        width: 50px;
    }
    .step_image{
        top: -50px;
        width: 50px;
    }
}