.HorizontalSteper_step{
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 100%;
}

.image_container{
    height: 70px;
    width: 70px;
    position: relative;
}
.text_container{
    display: block;
    align-content: center;
    & h1 {
        font-size: 1rem;
        font-weight: 500;
        color: var(--blue);
    text-align: left;

    }
    & p{
        color: var(--black);
        font-size: .9rem;
    text-align: left;

    }
}

.step{
    position: relative;
    border-right: .5px solid var(--blue);
    min-height: 200px;

}
/* .step_v{
    position: relative;
    border-right: .5px solid var(--blue);
    display: grid;
    grid-template-columns: 1fr 7fr;
    width: 100%;

}
 */
.step_no_border{
    border-right: none !important;
}

.step_title{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 700;
}

.step_p, .step_p_v{
    text-align: center;
    font-size: .9rem;
    color: var(--black);
    font-weight: 500;
}

.step_image{
    position: absolute;
    top: -80px;
    left: 35%;
    height: 70px;
    width: 70px;
}

.vertical_steper_container{
    width: 100%;
    padding-left: 100px;
}

.vertical_step{
    position: relative !important;
    border-bottom: .5px solid var(--blue);
    & .v_step_imagen_container{
        position: absolute;
        left: -75px;
    }
}

.step_p_v{
    text-align: left;
}

.step_no_border_v{
    border-bottom: none !important;
}
/* 
.arrow_steper_container{
    position: absolute;
    right: 0;
    bottom: 10;
}
 */

@media only screen and (min-width: 360px) and (max-width: 991px){
    .HorizontalSteper_step{
        grid-template-columns: .7fr 3fr;
        width: 100%;
    }
    .image_container{
        height: 50px;
        width: 50px;
    }
    .step{
        min-width: 250px;
    }
    .step_image{
        top: -50px;
        width: 50px;
    }

    .vertical_steper_container{
        padding-left: 70px;
    }
    .step_p_v, .step_p{
        font-size: .8rem;
    }
}